body {
	color: #fff;
	background-color: #14131A;
	font-family: 'Roboto', sans-serif;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1140px;
	width: 90%;
	margin: auto;
}

.venom {
	position: absolute;
	right: 0;
	top: 0;
	max-width: 728px;
	width: 40%; /* чем меньше ширина, тем меньше сам Веном, он не будет больше 728px, но будет уменьшаться */
}

.header {
	display: flex;
	align-items: center; /* выровнять меню относительно логотипа по горизонтали по центру */
	padding-top: 40px;
	margin-bottom: 80px;
}

.logo-link {
	display: inline-block;
	margin-right: 50px;
}

.nav-menu {
	margin: 0;
	padding: 0;
	list-style: none; /* выключить маркеры */
	display: flex; /* выровнять список в 1 линию по горизонтали */
}

.nav-menu-item {
	margin-right: 30px;
}

.nav-menu-link {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

.film-date {
	display: block; /* сделать строковый блок блочным, чтобы выделить ему отдельную строку */
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 2%;
	color: rgba(255, 255, 255, 0.8);
}

.film-description {
	margin-top: 3%;
	max-width: 423px;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
}

.film-logo {
	width: 70%;
}

.button {
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	text-decoration: none;
	cursor: pointer;
}

.button-icon, .button-text {
	display: inline-block;
	vertical-align: middle; /* блоки относительно друг друга выравниваться по вертикали */
}

.button-text {
	font-size: 14px;
	line-height: 16px; /* межстрочный интервал */
	margin-left: 10px;
}

.button-primary {
	color: #8D0019;
	background-color: #fff;
}

.button-link {
	color: #fff;
}

.button-group {
	margin-top: 5%;
}

.blood { /* картинки не повторять, выровнять, задать размер */
	background: url("../img/blood.png") no-repeat top right /70%, #14131A url("../img/background.jpg") no-repeat center center /100%;
}

.primary-bg {
	background: #14131A url("../img/background.jpg") no-repeat center center /100%;
}

.content {
	display: flex; /* разделить содержимое блока контент на 2 части */
}

.col {
	flex-basis: 50%; /* делим col пополам */
}

.content-title {
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 20px;
	margin-top: -10px;
}

.content-text {
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
	max-width: 423px;
	margin-bottom: 30px;
}

.content-subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 15px;
	margin-top: 0;
}

.content .list {
	list-style: none;
	padding: 0;
}

.list-item {
	line-height: 1.5;
}

.column-2 {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2; /* разделить на 2 колонки */
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	max-width: 350px;
}

.content .trailer {
	width: 356px;
	height: 205px;
	background: url('../img/trailer-cover.jpg') no-repeat center /100%;
	border-radius: 5px;
	display: flex; /* выровнять кнопку по середине */
	align-items: center;
	justify-content: center;
	margin-top: 33px;
	margin-bottom: 125px;
}

.trailer .play {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.poster-wrapper {
	display: flex;
	align-items: start;
}

.poster {
	width: 362px;
	border-radius: 5px;
	margin-right: 30px;
}

.poster-wrapper .content-subtitle {
	margin-bottom: 5px;
}

.poster-wrapper .list {
	margin: 0;
	margin-bottom: 20px;
}

.menu-button {
	display: none;
}

.menu-close {
	display: none;
}

@media (max-width: 768px) {
	.blood {
		background: #14131A; /* убрать кровь на экран меньше 768рх */
	}
	.venom {
		top: 10%;
	}
}

@media (max-width: 576px) {
	.venom {
		top: 15%;
		width: 30%;
	}
	.nav-menu {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column; /* чтобы меню было в 1 колонку */
		z-index: 9;
		transform: translateX(100%); /* унес меню на 100% его ширины вправо */
		transition: transform 0.2s; /* плавность трансформ, тоесть меню и кнопки */
	}
	.nav-menu-item {
		margin-bottom: 2%;
		margin-top: 2%;
		margin-right: 0;
	}
	.nav-menu-link {
		color: #14131A;
	}
	.nav {
		margin-left: auto
	}
	.menu-close {
		position: fixed;
		opacity: 0;
		right: 25px;
		top: 65px;
		display: flex;
		align-items: center;
		z-index: 10;
		border: none;
		background-color: #fff;
		cursor: pointer;
		transform: translateX(300%); /* унес кнопку закрыть на 300% его ширины вправо */
		transition: transform 0.2s;
		transition-delay: 0.4s; /* сначала появляется меню, потом кнопка закрыть */
	}
	.is-active {
		transform: translateX(0%);
		opacity: 1;
	}
	.menu-close-text {
		margin-right: 10px;
	}
	.menu-button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		border: none;
		background-color: #14131A;
		cursor: pointer;
		color: #fff;

	}
	.menu-button-text {
		margin-right: 10px;
	}
	.button-group {
		display: flex;
		align-items: center;
		justify-items: center;
		flex-direction: column; /* выстроить кнопки друг за другом */
	}
	.film-text {
		text-align: center;
	}
	.poster-wrapper {
		flex-direction: column;
	}
	.poster {
		margin-bottom: 4%;
		margin-top: -25%;
	}
	.content .trailer {
		max-width: 350px;
		width: 100%;
	}
	.poster {
		margin-right: 0;
		max-width: 350px;
		width: 100%;
	}
	.column-2 {
		column-count: 1;
	}
}

@media (max-width: 1024px) {
	.content {
		flex-direction: column; 
		padding-bottom: 5%;
	}
	.col {
		margin-bottom: 5%;
	}
	.header {
		margin-bottom: 4%;
	}
	.film {
		margin-top: 20%;
	}
}